<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {{#unless comments}}active{{/unless}}" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if comments}}active{{/if}}" href="/restaurants/feeds">最新動態</a>
  </li>
</ul>
<br /><br />